@use "sass:math";


@import 'node_modules/slick-carousel/slick/slick';
@import 'node_modules/bootstrap/dist/css/bootstrap';
@import 'node_modules/magnific-popup/dist/magnific-popup';
@import 'node_modules/treeflex/dist/css/treeflex';
@import 'node_modules/reset.css/reset';
@import 'node_modules/swiper/swiper-bundle.min';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '_fonts';

/**********************
    **********************
        VARIABLES
    **********************
**********************/
$black: #000;
$white: #fff;

$bg_dark: #F8F8F8;

$title: #372821;
$text: #372821;
$secondary_text: #969696;

$strong_color: #181818;

$nav_bg_color: #F2EFEB;
$cart_items_color: #FF8989;

$search_color: #888;

$active: #372821;
$link: #372821;
$main: #372821;

$btn_font_color: #232323;

$btn_bg: #f2f2f2;
$border_color: #EDEDED;

$font_Gp: 'Gotham Pro';
$font_Mt: 'Montserrat', sans-serif;


$global_font_size: 16;

/**********************
    **********************
        MIXINS
    **********************
**********************/
@mixin fontGp($font_size, $font_weight, $line_height, $font_color) {
    font-family: $font_Gp;
    font-size: calc($font_size / $global_font_size) + rem;
    font-weight: $font_weight;
    line-height: calc($line_height / $global_font_size) + rem;
    color: $font_color;
}

@mixin fontMt($font_size, $font_weight, $line_height, $font_color) {
    font-family: $font_Mt;
    font-size: calc($font_size / $global_font_size) + rem;
    font-weight: $font_weight;
    line-height: calc($line_height / $global_font_size) + rem;
    color: $font_color;
}

@mixin pseudo($url, $width, $height) {
    content: '';
    position: absolute;
    background-image: $url;
    background-size: contain;
    background-repeat: no-repeat;
    width: calc($width / $global_font_size) + rem;
    height: calc($height / $global_font_size) + rem;
}


@mixin pseudoItem($width, $height, $bgc) {
    content: '';
    position: absolute;
    width: calc($width / $global_font_size) + rem;
    height: calc($height / $global_font_size) + rem;
    background: $bgc;
}

/**********************
    **********************
        TEMPLATES
    **********************
**********************/
.section__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        @extend %line_top;

        @extend %line_right;
    }

    &>&-inner {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }

    &>div {
        display: flex;
        gap: 3.1875rem;

        @include fontGp(20, 700, 28.28, $text);
    }


    &-title {
        position: relative;
        z-index: 0;

        &::after {
            @include pseudoItem(61, 61, $btn_bg);
            left: 0;
            top: -1.6875rem;
            z-index: -1;
        }

        &::before {
            @include pseudoItem(31, 31, $btn_bg);
            left: -0.625rem;
            bottom: -0.625rem;
            z-index: -1;
        }
    }
}

/* Titles */
%title {
    @include fontGp(59, 900, 83.426, $title);
}

%sub_titleh2 {
    @include fontGp(45, 900, 63.63, $title);
}

%sub_titleh3 {
    @include fontGp(45, 900, 63.63, $title);
}

%sub_titleh4 {
    @include fontGp(20, 700, 32.78, $text);
}

h1 {
    @extend %title;
}

h2 {
    @extend %sub_titleh2;
}

h3 {}

h4 {
    @extend %sub_titleh4;
}

/* LINES */
%line_right {
    position: relative;

    &::after {
        @include pseudoItem(163, 2, $main);
        right: -12.625rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

%line_top {
    position: relative;

    &::before {

        @include pseudoItem(2, 67, $main);
        top: -5.875rem;
        left: 10%;
    }
}

%square__arrow {
    @include pseudo(url('../images/square-arrows.svg'), 67, 135);
}

/* BTN */
%btn {
    position: relative;
    z-index: 0;

    border-radius: 0;
    padding: 1.0625rem 4rem;
    background: transparent;
    @include fontMt(18, 400, 16, $btn_font_color);

    &::before {
        @include pseudoItem(0, 0, transparent);
        width: 100%;
        height: 100%;

        border-top: 1px solid $main;
        border-right: 1px solid $main;
        border-left: 1px solid $main;
        border-bottom: 1px solid $main;

        bottom: 0;
        right: 0;
        z-index: 1;
        transition: .4s all;

        clip-path: polygon(0 0, 29% 0, 35% 0%, 100% 0, 100% 10%, 100% 28%, 100% 100%, 25% 100%, 20% 93%, 11% 93%, 6% 100%, 0 100%);


    }

    &::after {
        @include pseudoItem(0, 0, $btn_bg);
        width: 100%;
        height: 100%;

        right: -0.625rem;
        bottom: -0.625rem;
        z-index: -1;
        transition: .4s all;
    }

    .btn__arrow {
        position: absolute;
        background-image: url('../images/arrow-btn-dark.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 3.1875rem;
        width: 0.4375rem;
        bottom: -1.375rem;
        left: 1.8125rem;
        z-index: 1;

        transition: 1s all;
    }

    &:hover {
        border: 1px solid transparent;

        .btn__arrow {
            animation: arrow 1.5s ease-in-out infinite;
        }

        &::after {
            right: 0;
            bottom: 0;
        }
    }
}

@keyframes arrow {
    0% {
        bottom: -1.375rem;
    }

    50% {
        bottom: -0.3125rem;
    }

    100% {
        bottom: -1.375rem;
    }
}

.btn {
    @extend %btn;
}



/**********************
    **********************
        GLOBAl
    **********************
**********************/
html {
    overflow-x: hidden;
    font-size: $global_font_size + px;
    background: #000;
}

body {
    @include fontGp(18, 400, 39.042, $text);
    background: $white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-wrap: balance;
}

.footer {
    margin-top: auto;
    padding-top: 3.125rem;
}

.header.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

a {
    text-decoration: none;
    color: $link;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
}

p {
    @include fontGp(18, 400, 39.042, $black);
}

.burger__btn {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    & span {
        display: block;
        width: 100%;
        height: 0.25rem;
        background: $white;
        margin-bottom: 0.3125rem;
        border-radius: 1.875rem;
    }
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    cursor: pointer;


    input,
    textarea {
        width: 100%;
        border: none;
        outline: none;
        background: $bg_dark;
        height: 3.4375rem;
        border-radius: 1.25rem;
        border: 1px solid #F4F4F4;
        padding: 0.625rem;
    }

    textarea {
        height: 7.875rem;
        border: 1px solid #F4F4F4;
    }
}

.logo {
    img {}
}

.section__header {
    display: flex;
    align-items: center;
    margin-bottom: 7.5rem;


    background-image: url('../images/section-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25rem;

    height: 11.4375rem;

    &-wrapper {
        display: flex;
        align-items: center;
        gap: 1.6875rem;

        h2 {
            @include fontGp(45, 600, 56.43, $title);
        }

        &>div {
            transform: translate(0px, 0.3125rem);

            span {
                @include fontMt(20, 400, 16, $btn_font_color);
            }
        }
    }
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(0.3125rem);
    transition: 1s all;

    &.show {
        transform: translate(0);
        opacity: 1;
        filter: blur(0px);
    }
}

/**********************
    **********************
     HEADER
    **********************
**********************/
.header {
    padding-bottom: 2.875rem;

    .menu {
        position: relative;
        z-index: 1;
        background: $nav_bg_color;

        /* MENU TOP starts */
        &__top {
            padding: 1.0625rem 0;

            &-list {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &>div {
                    display: flex;
                    justify-content: space-between;
                    gap: 6.0625rem;
                }

                .cart a {
                    position: relative;
                }

                .search {
                    display: flex;
                    align-items: center;

                    &>div {
                        display: flex;
                        align-items: center;
                        gap: 1.25rem;
                    }
                }

                #cart-items {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include fontMt(8, 400, 16, $white);
                    background: $cart_items_color;
                    width: 0.8125rem;
                    height: 0.8125rem;
                    text-align: center;
                    border-radius: 50%;
                    right: -1.25rem;
                    top: 50%;
                    transform: translateY(-85%);
                }

                #search-icon {
                    position: relative;
                    background-image: url('../images/search.svg');
                    background-position: center;
                    background-size: contain;
                    width: 1.25rem;
                    height: 1.25rem;
                }

                #search {
                    @include fontMt(12, 300, 16, $search_color);
                    outline: none;
                    border: none;
                    border-bottom: 1px solid $search_color;
                    max-width: 8.5rem;
                }

                .menu__phone-number {
                    @include fontMt(18, 400, 16, $text);
                    position: relative;
                    padding-left: 1.875rem;

                    &::before {
                        @include pseudo(url('../images/phone.svg'), 16, 16);
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        /* MENU TOP ends */

        /* MENU LIST starts */
        &__list {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;

            a {
                @include fontMt(18, 400, 16, $text);
            }

            &-item {
                position: relative;
                transition: .4s all;

                &:hover {
                    background: $white;
                    filter: drop-shadow(0px 0.25rem 1.5rem rgba(0, 0, 0, 0.10));

                    & a:after {
                        transform: translateY(-50%) rotate(90deg);
                    }

                    & ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                & ul {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    background: $white;
                    transition: .4s all;

                    a {
                        display: block;
                        padding: 1.125rem 2.3125rem;

                        &:hover {
                            font-weight: 700;
                            background: $bg_dark;
                        }
                    }

                }
            }

            &-link {
                display: block;
                padding: 1.25rem 1.875rem;
                position: relative;
                transition: .4s all;

                &:has(+ul) {
                    padding-right: 3.75rem;
                }

                &:has(+ul):after {
                    @include pseudoItem(11, 2, $main);
                    right: 1.5625rem;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: .4s all;
                }
            }
        }

        /* MENU LIST ends */

    }
}

/* Burger Navbar */
html.modal__open {
    overflow: hidden;
}

.burger__navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 4.0625rem;
    bottom: 0;
    background: $main;
    overflow-y: scroll;
    display: none;

    &.active {
        display: block;
    }
}

/* End of header*/

/**********************
    **********************
       HERO
    **********************
**********************/
.hero {
    padding-bottom: 5.125rem;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;


        position: relative;

        &::after {
            @include pseudo(url('../images/arrow-btn-dark.svg'), 21, 156);
            transform: translateY(-50%) rotate(90deg);
            bottom: -8.125rem;
            left: 23%;
        }

        &>div:not(.hero__img) {
            width: auto;
            margin-left: auto;
        }

        &>div {
            display: flex;
            flex-direction: column;
            gap: 5.4375rem;
            align-items: flex-start;
        }
    }

    &__title {
        max-width: 36.875rem;

        @extend %line_top;

        span {
            @extend %line_right;
        }
    }

    &__img {
        height: 41.5rem;
        margin: 0 0 0 auto;
        margin-left: -9.3125rem;
        width: 60%;

        img {
            height: 100%;
        }
    }
}

/**********************
    **********************
       CATEGORY
    **********************
**********************/
$item_bg: #F3F0EC;

.category {
    padding-top: 5.625rem;
    padding-bottom: 8.75rem;

    &__wrapper {
        position: relative;

        &::before {
            @extend %square__arrow;
            bottom: -15%;
            left: -15%;
        }
    }

    .section__top {
        padding-bottom: 6.0625rem;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3.3125rem;
        row-gap: 2.5rem;

        // The huge main div on the right side
        &>div:nth-child(3) {
            grid-row: 3 / 1;
            grid-column: 3 / 3;
        }

        &>div {
            overflow-y: hidden;
            padding-top: 1.875rem;
        }
    }


    &__item {
        display: flex;
        align-items: flex-start;
        gap: 1.9375rem;
        position: relative;
        border: 1px solid $border_color;
        padding: 1.75rem 1.5rem 0 2.1875rem;
        justify-content: space-between;
        height: 100%;


        &:not(.main) {
            max-height: 10.125rem;
        }

        transition: .4s all;

        &-inner {}

        &.main {
            span {
                @include fontMt(18, 400, 16, $main);
                letter-spacing: 0.020rem;
                text-transform: uppercase;
            }

            .category__item-img {
                mix-blend-mode: darken;
                max-width: 104%;
                width: 104%;
                position: absolute;
                right: 0;
                transform: translateY(-4%);
            }
        }

        &:hover {
            background: $item_bg;
            border-color: $white;

            .category__item-title::before {
                width: 3.875rem;
            }

            .category__item-bg {
                bottom: 0;
            }

            .category__item-img {
                transform: translate(0, -3.5rem);
            }
        }

        &-title {
            @include fontGp(18, 700, 16, $text);
            padding-bottom: 0.3125rem;
            position: relative;

            &::before {
                @include pseudoItem(67, 2, $main);
                left: 0;
                bottom: 0;
                width: 0;
                transition: .4s all;
            }
        }

        &-bg {
            position: absolute;
            display: flex;
            bottom: -100%;
            transition: .4s all;
        }

        &-img {
            display: flex;
            transform: translateY(20%);
            transition: .4s all;
            max-width: 10.4375rem;
        }
    }
}

/**********************
    **********************
       HISTORY
    **********************
**********************/
.history {
    position: relative;
    padding-bottom: 9.375rem;

    .container {
        position: relative;
    }

    &__wrapper {
        display: flex;

        &::after {
            @extend %square__arrow;
            right: 6.4375rem;
            bottom: 6.4375rem;
        }
    }


    &__img {
        position: relative;
        left: 0;
        top: 0;
        width: 60%;
        height: 37.75rem;

        &::before {
            @include pseudo(url('../images/section-square.svg'), 41, 41);
            top: -0.9375rem;
            right: -0.9375rem;
        }

        img {
            height: 100%;
        }
    }

    .section__top {
        position: absolute;
        justify-content: flex-end;
        margin-top: 5.625rem;
        right: 0;
        top: 25%;
    }

    &__title {
        @extend %line_right;
        @extend %line_top;

        &::before {
            height: 10.1875rem;
            top: -11.875rem;
        }

        z-index: 0;

        span {
            display: block;
            position: absolute;
            width: 5.0625rem;
            height: 5.0625rem;
            background: $btn_bg;
            z-index: -1;
            top: -14%;
            left: -6%;
        }
    }

    &__cover {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        background: $white;
        padding: 4.5625rem 6rem 2.8125rem 4.375rem;
        max-width: 59.5625rem;
        position: absolute;
        right: 20%;
        bottom: 10%;

        p {
            margin-bottom: 1.5625rem;
        }
    }


    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &>div {
            display: flex;
            align-items: center;
            gap: 4.375rem;

            span {
                @include fontMt(18, 400, 37.962, $black);
            }
        }

        .play__btn {
            width: 3.5625rem;
            height: 3.5625rem;
            border: 1px solid $main;
            position: relative;

            &::before {
                @include pseudo(url('../images/play.svg'), 15, 15);
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &::after {
                @include pseudoItem(47, 1, $main);
                right: -2.5rem;
                top: 50%;
                transform: translateY(-50%);
            }

        }
    }
}

/**********************
    **********************
       TOP CATEGORY
    **********************
**********************/
.top__category {
    padding-top: 7.1875rem;
    padding-bottom: 8.5rem;

    .section__top {
        margin-bottom: 5.5rem;

        &-title::after {
            background: transparent;
            border: 1px solid $btn_bg;
        }

        h1::after {
            width: 0.125rem;
            height: 4.1875rem;
            right: 3.375rem;
            top: 5.3rem;
            transform: translate(0);
        }
    }

    &-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 6.25rem;
    }

    &-item.main {
        grid-column: auto/ span 2;
        grid-row: auto/ span 2;

        position: relative;

        padding: 0 0 4.0625rem 2.75rem;
        border-left: 1px solid $main;

        &::before {
            @include pseudoItem(228, 1, $main);
            bottom: 0;
            left: 0;
        }

        // Button
        &>a {
            @extend %btn;
            position: absolute;
            bottom: -1.5rem;
            left: 50%;

            &:hover {
                border: none;
            }

            &::before {
                border-image-source: url('../images/border-image-test.svg');
                border-image-slice: 1;
                border-image-width: 2;
                border-image-outset: 0;
                border-image-repeat: repeat;
            }

            &::after {
                @include pseudo(url('../images/arrow-dark.svg'), 7, 41);
                left: 0;
                top: 50%;
                transform: translateY(-50%) rotate(-90deg);
                border: none;
                background-color: transparent;
            }
        }

        // Title
        &>div>span {
            @include fontMt(24, 700, 16, $main);
            letter-spacing: 0.48px;
            text-transform: uppercase;
        }

        // Background logoF
        &>div {
            position: relative;
            z-index: 0;
            display: flex;
            background: #F3F0EC;
            overflow: hidden;
            padding: 3.3125rem 0 0 3.3125rem;
            height: 100%;

            &::before {
                @include pseudo(url('../images/muran-item.png'), 267, 332);
                z-index: -1;
                left: -2.5rem;
                top: -5.0625rem;
                opacity: .1;
            }
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        gap: 1.5625rem;

        // Image borders
        &__img {
            position: relative;

            border: 1px solid $border_color;
            display: flex;
            align-items: center;
            justify-content: center;

            transition: .4s all;

            &:hover {
                box-shadow: 1px 0px 8px 0.3125rem rgba(34, 60, 80, 0.2);
                border: transparent;

                &>.item__show {
                    opacity: 1;
                    visibility: visible;

                    right: -1.5625rem;
                    top: -1.5625rem;
                }
            }
        }

        // Texts
        &__text {
            display: flex;
            justify-content: space-between;
        }

        // Title
        &>div span {
            @extend .category__item-title;
        }

        // Button
        &:not(.main) &__link {
            padding-right: 3.75rem;
            padding-left: 3.75rem;
            @include fontMt(18, 400, 16, $main);
            @extend %btn;

            &:hover {
                border: none;

                &:after {
                    background: $btn_bg;
                    right: -0.625rem;
                    bottom: -0.625rem;
                }
            }

            &::after {
                background: transparent;
                right: 0;
                bottom: 0;
            }

            .btn__cart {
                position: absolute;
                background-image: url('../images/shopping-cart.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 1.375rem;
                height: 1.4375rem;
                bottom: -0.875rem;
                left: 1.4375rem;
                z-index: 1;

                transition: 1s all;
            }
        }

        // Button end

        // Item eye
        .item__show {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            right: -1.25rem;
            top: -1.25rem;
            width: 3.1875rem;
            height: 3.1875rem;
            background-color: $main;
            padding: 0.625rem;

            transition: .4s all;

            &::before {
                @include pseudo(url('../images/eye.svg'), 30, 30);
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}


/**********************
    **********************
       PRODUCT PAGE
    **********************
**********************/

.product {
    padding-bottom: 6.25rem;

    &__wrapper {
        display: flex;
    }

    &__images {
        width: 66%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;

        &>span {
            @include fontMt(18, 400, 16, #8e8e8e);
        }

        &>h3 {
            @include fontMt(35, 700, 50.015, $title);
        }

        /* Capacity starts */
        .product__capacity {
            display: flex;
            justify-content: space-between;

            label {
                @extend %btn;
                padding: 1.0625rem 1.875rem;

                &::after {
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                }

                &:hover {
                    border: none;
                }
            }

            input[type=radio] {
                display: none;

                &:checked+label {
                    &::after {
                        right: -0.425rem;
                        bottom: -0.425rem;
                        opacity: 1;
                    }
                }
            }

        }

        /* Capacity ends */

        /* Product list starts */
        ul {
            @include fontMt(18, 400, 38.5, $strong_color);

            strong {
                @include fontMt(18, 700, 38.5, $strong_color);
            }
        }

        /* Product list ends */


        /* Product price starts */
        .product__price {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;

            &>div {
                display: flex;
                flex-direction: column;

                &:first-child {
                    width: 50%;

                    &>div {
                        display: flex;
                        gap: 0.375rem;
                        @include fontMt(22, 400, 38.5, $text);
                    }

                    s {
                        @include fontMt(22, 400, 38.5, #8e8e8e);
                    }

                    span {
                        @include fontMt(55, 700, 78.595, $main);
                    }
                }

                &:last-child {
                    align-items: flex-start;
                }
            }

            .btn {
                &::after {
                    display: none;
                }
            }

            .danger {
                display: none;
                justify-content: flex-end;
                width: 14.6875rem;
                text-wrap: wrap;
                margin-left: auto;
                margin-top: 2.4375rem;

                @include fontMt(18, 400, 25.722, #FF4141);


                &.active {
                    display: flex;
                }
            }
        }

        /* Product price ends */
    }
}

%section_top_title {
    h3 {
        @include fontMt(35, 700, 50.015, $main);

        @extend %line_right;
        max-width: 34.375rem;
        padding-left: 2.5rem;

        &::after {
            width: 4.1875rem;
            top: 1.5625rem;
            right: -5.625rem;
        }
    }
}

.product__descr {
    padding-bottom: 2.5rem;

    .section__top {
        margin-bottom: 5rem;

        @extend %section_top_title;
    }

    &-inner {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
    }

    &-addition {
        padding-top: 6.25rem;

        .section__top {
            padding-left: 2.5rem;
        }
    }
}

.products__category {
    .section__top {
        @extend %section_top_title;
    }


    &-slider {
        width: 37.5rem;
        height: 37.5rem;

        &__item {
            /* max-width: 291px; */
            display: flex;
            flex-direction: column;
            gap: 1.5625rem;

            &>div {
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;
            }
        }

        &__image {
            border: 1px solid $border_color;
            height: 20.4375rem;
        }
    }
}

/**********************
    **********************
       CONTACTS
    **********************
**********************/
.contacts {
    padding-bottom: 11.875rem;
    position: relative;

    &::before {
        @include pseudo(url('../images/contacts-bg.svg'), 606, 753);
        left: 0;
        top: 3.125rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        p {
            @include fontGp(18, 400, 39.042, $black);
        }
    }



    &__map {
        padding-bottom: 12.75rem;

        .section__top {
            padding-bottom: 4.4375rem;

            h3 {
                @include fontGp(45, 700, 56.43, $title);

                @extend %line_top;

                &::before {
                    left: 18%;
                    top: -4.875rem;
                }

                @extend %line_right;

                &::after {
                    width: 4.1875rem;
                    right: -7.625rem;
                }
            }
        }

        &-wrapper {
            display: flex;
            gap: 7.5rem;

            >div {
                width: 46.4375rem;
                height: 21.375rem;

                >iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            text-wrap: initial;

            li {
                padding-left: 5.625rem;
                position: relative;

                &::after {
                    @include pseudoItem(1, 40, #5B5B5B);
                    left: 4rem;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                &::before {
                    @include pseudo(url('../images/clock-list.svg'), 39, 39);
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

/**********************
    **********************
       CART
    **********************
**********************/
.cart {

    /* I need to change the name of the class in the header in order to avoid the conflict in code in the future */
    &__section {
        padding-bottom: 15.625rem;
    }

    &__box {
        background: #FFF;
        box-shadow: 0px 3px 20.375rem 0px rgba(0, 0, 0, 0.07);
        max-width: 62.75rem;
        padding: 3.8125rem;

        h2 {
            text-align: center;
            margin-bottom: 2.6875rem;
        }
    }

    &__list {
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 1.5rem 0;
            border-top: 1px solid #C8C8C8;

            &:last-child {
                border-bottom: 1px solid #C8C8C8;
            }
        }
    }

    /* Created only for inner (It's the same with .cart__list-item) */
    &__item-inner {
        display: flex;
        gap: 2.875rem;
    }

    &__product {
        &-img {
            width: 10.875rem;
            height: 12.5rem;
            border: 1px solid #eee;

            img {
                height: 100%;
                object-fit: contain;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 0.6875rem;
            padding-top: 1.3125;

            >h4 {
                @include fontMt(20, 700, 28.58, $title);
            }

            >div {
                margin-top: 1.875rem;
                display: flex;
            }

            .change-button {
                @include fontMt(16, 400, 16, $main);
                width: 1.8125rem;
                height: 1.8125rem;
                background: #F2EFEB;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .product {
                &-qty {
                    @include fontMt(16, 400, 16, $main);
                    width: 1.8125rem;
                    height: 1.8125rem;
                    background: #F2EFEB;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

        }
    }

    .price {
        display: flex;
        flex-direction: column;

        s {
            @include fontMt(18, 400, 38.5, #8E8E8E);
        }

        >span {
            display: flex;
            align-items: flex-start;
            gap: 0.75rem;
        }

        &-num {
            @include fontMt(40, 700, 57.16, $main);
        }
    }

    // After list - inner
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 2.75rem;
        padding-bottom: 3.75rem;
    }

    label {
        @include fontMt(20, 400, 28.58, $main);
        flex-direction: row;
        align-items: center;
        gap: 1.6875rem;

        input {
            border-radius: 0;
        }
    }

    &__sum {
        display: flex;
        align-items: center;
        gap: 5.1875rem;

        >span {
            @include fontMt(20, 400, 28.58, $main);
        }

        &-inner {
            display: flex;
            align-items: flex-start;
            gap: 0.75rem;
        }

        #total {
            @include fontMt(40, 700, 57.16, $main);
        }
    }

    /* Cart submit */
    &__submit {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: underline;
        }
    }
}

/**********************
    **********************
       FOOTER
    **********************
**********************/
.footer {
    color: $white;
    border-top: 1px solid #DEDEDE;
    padding-top: 3.3125rem;
    padding-bottom: 3.125rem;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 3.75rem;
    }

    .socials {
        display: flex;
        gap: 2.1875rem;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.3125;
            border: 1px solid $main;

            position: relative;

            &::before {
                @include pseudoItem(28, 1, $white);
                bottom: -1px;
                left: 20%;
            }
        }
    }

    &__title {
        @extend %line_right;

        &::after {
            width: 4.1875rem;
            right: -6rem;
        }
    }

    &__subtitle {
        @include fontGp(20, 400, 32.78, $text);
        letter-spacing: 0.0375rem;
        max-width: 17.3125rem;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        &-cover {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.375rem;

            p {
                padding-bottom: 0.9375rem;
            }
        }
    }


    &__nav-cover {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h4 {
            letter-spacing: 0.0375rem;
        }

        &>ul {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            &>div {
                display: flex;
                justify-content: space-between;
                gap: 1.25rem;

                a {
                    @include fontMt(18, 400, 16, $secondary_text);
                }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-around;
        padding-top: 1.6875rem;
        border-top: 1px solid #DEDEDE;

        a {
            @include fontMt(16, 400, 16, $secondary_text);
        }
    }
}

/**********************
    **********************
       MEDIA QUERIES
    **********************
**********************/

@media (max-width: 1604px) {
    html {
        font-size: $global_font_size - 1 + px;
    }
}

@media (max-width: 1527px) {
    html {
        font-size: $global_font_size - 2 + px;
    }
}

@media (max-width: 1480px) {
    html {
        font-size: $global_font_size - 3 + px;
    }
}


@media (max-width: 700px) {
    .header .menu__top-list .search>div {
        display: none;
    }
}

@media (max-width:640px) {
    .header .menu__top-list {
        flex-direction: row-reverse;
    }

    .header .menu__top-list>div {
        gap: 1.3125;
    }

    .header .menu__top-list .menu__phone-number {
        display: none;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .header .menu__list-item {
        display: grid;
        grid-template-rows: auto 0;
        transition: .4s all;

        overflow: hidden;

        width: 100%;

        &:hover {
            grid-template-rows: auto;
            transition: .4s all;
        }
    }

    .header .menu__list-item ul {
        position: static;
    }
}