@import 'node_modules/slick-carousel/slick/slick';
@import 'node_modules/bootstrap/dist/css/bootstrap';
@import 'node_modules/magnific-popup/dist/magnific-popup';
@import 'node_modules/treeflex/dist/css/treeflex';
@import 'node_modules/reset.css/reset';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '_fonts';


/**********************
    **********************
        VARIABLES
    **********************
**********************/
$black: #000;
$white: #fff;

$bg_dark: #F8F8F8;

$title: #372821;
$text: #372821;
$secondary_text: #969696;

$nav_bg_color: #F2EFEB;
$cart_items_color: #FF8989;

$search_color: #888;

$active: #372821;
$link: #372821;
$main: #372821;

$btn_font_color: #232323;

$btn_bg: #f2f2f2;
$border_color: #EDEDED;

$font_Gp: 'Gotham Pro';
$font_Mt: 'Montserrat', sans-serif;


$global_font_size: 16;

/**********************
    **********************
        MIXINS
    **********************
**********************/
@mixin fontGp($font_size, $font_weight, $line_height, $font_color) {
    font-family: $font_Gp;
    font-size: calc($font_size / $global_font_size) + rem;
    font-weight: $font_weight;
    line-height: calc($line_height / $global_font_size) + rem;
    color: $font_color;
}

@mixin fontMt($font_size, $font_weight, $line_height, $font_color) {
    font-family: $font_Gp;
    font-size: calc($font_size / $global_font_size) + rem;
    font-weight: $font_weight;
    line-height: calc($line_height / $global_font_size) + rem;
    color: $font_color;
}

@mixin pseudo($url, $width, $height) {
    content: '';
    position: absolute;
    background-image: $url;
    background-size: contain;
    background-repeat: no-repeat;
    width: calc($width / $global_font_size) + rem;
    height: calc($height / $global_font_size) + rem;
}


@mixin pseudoItem($width, $height, $bgc) {
    content: '';
    position: absolute;
    width: calc($width / $global_font_size) + rem;
    height: calc($height / $global_font_size) + rem;
    background: $bgc;
}

/**********************
    **********************
        TEMPLATES
    **********************
**********************/
.section__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        @extend %line_top;

        @extend %line_right;
    }

    &>&-inner {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &>div {
        display: flex;
        gap: 3.1875rem;

        @include fontGp(20, 700, 28.28, $text);
    }


    &-title {
        position: relative;
        z-index: 0;

        &::after {
            @include pseudoItem(61, 61, $btn_bg);
            left: 0;
            top: -1.6875rem;
            z-index: -1;
        }

        &::before {
            @include pseudoItem(31, 31, $btn_bg);
            left: -0.625rem;
            bottom: -0.625rem;
            z-index: -1;
        }
    }
}

/* Titles */
%title {
    @include fontGp(59, 900, 83.426, $title);
}

%sub_titleh2 {
    @include fontGp(45, 900, 63.63, $title);
}

%sub_titleh3 {
    @include fontGp(45, 900, 63.63, $title);
}

%sub_titleh4 {
    @include fontGp(20, 700, 32.78, $text);
}

h1 {
    @extend %title;
}

h2 {
    @extend %sub_titleh2;
}

h3 {}

h4 {
    @extend %sub_titleh4;
}

/* LINES */
%line_right {
    position: relative;

    &::after {
        @include pseudoItem(163, 2, $main);
        right: -12.625rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

%line_top {
    position: relative;

    &::before {

        @include pseudoItem(2, 67, $main);
        top: -5.875rem;
        left: 10%;
    }
}

%square__arrow {
    @include pseudo(url('../images/square-arrows.svg'), 67, 135);
}

/* BTN */
%btn {
    position: relative;
    z-index: 0;

    border-radius: 0;
    padding: 17px 64px;
    background: transparent;
    @include fontMt(18, 400, 16, $btn_font_color);

    &::before {
        @include pseudoItem(0, 0, transparent);
        width: 100%;
        height: 100%;

        border-top: 1px solid $main;
        border-right: 1px solid $main;
        border-left: 1px solid $main;
        border-bottom: 1px solid $main;

        bottom: 0;
        right: 0;
        z-index: 1;
        transition: .4s all;

        clip-path: polygon(0 0, 29% 0, 35% 0%, 100% 0, 100% 10%, 100% 28%, 100% 100%, 25% 100%, 20% 93%, 11% 93%, 6% 100%, 0 100%);


    }

    &::after {
        @include pseudoItem(0, 0, $btn_bg);
        width: 100%;
        height: 100%;

        right: -0.625rem;
        bottom: -0.625rem;
        z-index: -1;
        transition: .4s all;
    }

    .btn__arrow {
        position: absolute;
        background-image: url('../images/arrow-btn-dark.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 51px;
        width: 7px;
        bottom: -22px;
        left: 29px;
        z-index: 1;

        transition: 1s all;
    }

    &:hover {
        border: 1px solid transparent;

        .btn__arrow {
            animation: arrow 1.5s ease-in-out infinite;
        }

        &::after {
            right: 0;
            bottom: 0;
        }
    }
}

@keyframes arrow {
    0% {
        bottom: -22px;
    }

    50% {
        bottom: -5px;
    }

    100% {
        bottom: -22px;
    }
}

.btn {
    @extend %btn;
}



/**********************
    **********************
        GLOBAl
    **********************
**********************/
html {
    overflow-x: hidden;
    font-size: $global_font_size + px;
    background: #000;
}

body {
    @include fontGp(18, 400, 39.042, $text);
    background: $white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-wrap: balance;
}

.footer {
    margin-top: auto;
    padding-top: 3.125rem;
}

.header.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: $link;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
}

p {
    @include fontGp(18, 400, 39.042, $black);
}

.burger__btn {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;

    & span {
        display: block;
        width: 100%;
        height: 4px;
        background: $white;
        margin-bottom: 5px;
        border-radius: 30px;
    }
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;


    input,
    textarea {
        width: 100%;
        border: none;
        outline: none;
        background: $bg_dark;
        height: 55px;
        border-radius: 20px;
        border: 1px solid #F4F4F4;
        padding: 10px;
    }

    textarea {
        height: 126px;
        border: 1px solid #F4F4F4;
    }
}

.logo {
    img {}
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
    transition: 1s all;

    &.show {
        transform: translate(0);
        opacity: 1;
        filter: blur(0px);
    }
}

/**********************
    **********************
     HEADER
    **********************
**********************/
.header {
    padding-bottom: 46px;

    .menu {
        position: relative;
        z-index: 1;
        background: $nav_bg_color;

        /* MENU TOP starts */
        &__top {
            padding: 17px 0;

            &-list {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &>div {
                    display: flex;
                    justify-content: space-between;
                    gap: 97px;
                }

                .cart a {
                    position: relative;
                }

                .search {
                    display: flex;
                    align-items: center;

                    &>div {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                    }
                }

                #cart-items {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include fontMt(8, 400, 16, $white);
                    background: $cart_items_color;
                    width: 13px;
                    height: 13px;
                    text-align: center;
                    border-radius: 50%;
                    right: -20px;
                    top: 50%;
                    transform: translateY(-85%);
                }

                #search-icon {
                    position: relative;
                    background-image: url('../images/search.svg');
                    background-position: center;
                    background-size: contain;
                    width: 20px;
                    height: 20px;
                }

                #search {
                    @include fontMt(12, 300, 16, $search_color);
                    outline: none;
                    border: none;
                    border-bottom: 1px solid $search_color;
                    max-width: 136px;
                }

                .menu__phone-number {
                    @include fontMt(18, 400, 16, $text);
                    position: relative;
                    padding-left: 30px;

                    &::before {
                        @include pseudo(url('../images/phone.svg'), 16, 16);
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        /* MENU TOP ends */

        /* MENU LIST starts */
        &__list {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;

            a {
                @include fontMt(18, 400, 16, $text);
            }

            &-item {
                position: relative;
                transition: .4s all;

                &:hover {
                    background: $white;
                    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.10));

                    & a:after {
                        transform: translateY(-50%) rotate(90deg);
                    }

                    & ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                & ul {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    background: $white;
                    transition: .4s all;

                    a {
                        display: block;
                        padding: 18px 37px;

                        &:hover {
                            font-weight: 700;
                            background: $bg_dark;
                        }
                    }

                }
            }

            &-link {
                display: block;
                padding: 20px 30px;
                position: relative;
                transition: .4s all;

                &:has(+ul) {
                    padding-right: 60px;
                }

                &:has(+ul):after {
                    @include pseudoItem(11, 2, $main);
                    right: 25px;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: .4s all;
                }
            }
        }

        /* MENU LIST ends */

    }
}

/* Burger Navbar */
html.modal__open {
    overflow: hidden;
}

.burger__navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 65px;
    bottom: 0;
    background: $main;
    overflow-y: scroll;
    display: none;

    &.active {
        display: block;
    }
}

/* End of header*/

/**********************
    **********************
       HERO
    **********************
**********************/
.hero {
    padding-bottom: 82px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;


        position: relative;

        &::after {
            @include pseudo(url('../images/arrow-btn-dark.svg'), 21, 156);
            transform: translateY(-50%) rotate(90deg);
            bottom: -130px;
            left: 23%;
        }

        &>div:not(.hero__img) {
            width: auto;
            margin-left: auto;
        }

        &>div {
            display: flex;
            flex-direction: column;
            gap: 87px;
            align-items: flex-start;
        }
    }

    &__title {
        max-width: 590px;

        @extend %line_top;

        span {
            @extend %line_right;
        }
    }

    &__img {
        height: 664px;
        margin: 0 0 0 auto;
        margin-left: -149px;
        width: 60%;

        img {
            height: 100%;
        }
    }
}

/**********************
    **********************
       CATEGORY
    **********************
**********************/
$item_bg: #F3F0EC;

.category {
    padding-top: 90px;
    padding-bottom: 140px;

    &__wrapper {
        position: relative;

        &::before {
            @extend %square__arrow;
            bottom: -15%;
            left: -15%;
        }
    }

    .section__top {
        padding-bottom: 97px;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 53px;
        row-gap: 55px;
    }


    &__item {
        display: flex;
        align-items: flex-start;
        gap: 31px;
        position: relative;
        border: 0.4px solid $border_color;
        padding: 28px 24px 0 35px;
        justify-content: space-between;

        overflow: hidden;

        &:not(.main) {
            max-height: 162px;
        }

        transition: .4s all;

        &-inner {}


        &.main {
            grid-row: 3 / 1;
            grid-column: 3 / 3;

            span {
                @include fontMt(18, 400, 16, $main);
                letter-spacing: 0.36px;
                text-transform: uppercase;
            }

            .category__item-img {
                mix-blend-mode: darken;
                mix-blend-mode: darken;
                max-width: 100%;
                width: 100%;
                position: absolute;
                right: 0;
            }
        }

        &:hover {
            background: $item_bg;
            border-color: $white;

            .category__item-title::before {
                width: 3.875rem;
            }

            .category__item-bg {
                bottom: 0;
            }

            .category__item-img {
                transform: translate(0);
            }
        }

        &-title {
            @include fontGp(18, 700, 16, $text);
            padding-bottom: 5px;
            position: relative;

            &::before {
                @include pseudoItem(67, 2, $main);
                left: 0;
                bottom: 0;
                width: 0;
                transition: .4s all;
            }
        }

        &-bg {
            position: absolute;
            display: flex;
            bottom: -100%;
            transition: .4s all;
        }

        &-img {
            display: flex;
            transform: translateY(20%);
            transition: .4s all;
            max-width: 167px;
        }
    }
}

/**********************
    **********************
       HISTORY
    **********************
**********************/
.history {
    position: relative;
    padding-bottom: 150px;

    .container {
        position: relative;
    }

    &__wrapper {
        display: flex;

        &::after {
            @extend %square__arrow;
            right: 103px;
            bottom: 103px;
        }
    }


    &__img {
        position: relative;
        left: 0;
        top: 0;
        width: 60%;
        height: 604px;

        &::before {
            @include pseudo(url('../images/section-square.svg'), 41, 41);
            top: -15px;
            right: -15px;
        }

        img {
            height: 100%;
        }
    }

    .section__top {
        position: absolute;
        justify-content: flex-end;
        margin-top: 90px;
        right: 0;
        top: 25%;
    }

    &__title {
        @extend %line_right;
        @extend %line_top;

        &::before {
            height: 10.1875rem;
            top: -11.875rem;
        }

        z-index: 0;

        span {
            display: block;
            position: absolute;
            width: 5.0625rem;
            height: 5.0625rem;
            background: $btn_bg;
            z-index: -1;
            top: -14%;
            left: -6%;
        }
    }

    &__cover {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        background: $white;
        padding: 73px 96px 45px 70px;
        max-width: 953px;
        position: absolute;
        right: 20%;
        bottom: 10%;

        p {
            margin-bottom: 25px;
        }
    }


    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &>div {
            display: flex;
            align-items: center;
            gap: 70px;

            span {
                @include fontMt(18, 400, 37.962, $black);
            }
        }

        .play__btn {
            width: 57px;
            height: 57px;
            border: 1px solid $main;
            position: relative;

            &::before {
                @include pseudo(url('../images/play.svg'), 15, 15);
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &::after {
                @include pseudoItem(47, 1, $main);
                right: -2.5rem;
                top: 50%;
                transform: translateY(-50%);
            }

        }
    }
}

/**********************
    **********************
       TOP CATEGORY
    **********************
**********************/
.top__category {
    padding-top: 115px;
    padding-bottom: 136px;

    .section__top {
        margin-bottom: 88px;

        &-title::after {
            background: transparent;
            border: 1px solid $btn_bg;
        }

        h1::after {
            width: 0.125rem;
            height: 4.1875rem;
            right: 3.375rem;
            top: 5.3rem;
            transform: translate(0);
        }
    }

    &-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 100px;
    }

    &-item.main {
        grid-column: auto/ span 2;
        grid-row: auto/ span 2;

        position: relative;

        padding: 0 0 65px 44px;
        border-left: 1px solid $main;

        &::before {
            @include pseudoItem(228, 1, $main);
            bottom: 0;
            left: 0;
        }

        // Button
        &>a {
            @extend %btn;
            position: absolute;
            bottom: -24px;
            left: 50%;

            &:hover {
                border: none;
            }

            &::before {
                border-image-source: url('../images/border-image-test.svg');
                border-image-slice: 1;
                border-image-width: 2;
                border-image-outset: 0;
                border-image-repeat: repeat;
            }

            &::after {
                @include pseudo(url('../images/arrow-dark.svg'), 7, 41);
                left: 0;
                top: 50%;
                transform: translateY(-50%) rotate(-90deg);
                border: none;
                background-color: transparent;
            }
        }

        // Title
        &>div>span {
            @include fontMt(24, 700, 16, $main);
            letter-spacing: 0.48px;
            text-transform: uppercase;
        }

        // Background logoF
        &>div {
            position: relative;
            z-index: 0;
            display: flex;
            background: #F3F0EC;
            overflow: hidden;
            padding: 53px 0 0 53px;
            height: 100%;

            &::before {
                @include pseudo(url('../images/muran-item.png'), 267, 332);
                z-index: -1;
                left: -40px;
                top: -81px;
                opacity: .1;
            }
        }
    }

    &-item {

        display: flex;
        flex-direction: column;
        gap: 25px;

        // Image borders
        &__img {
            border: 1px solid $border_color;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        // Texts
        &__text {
            display: flex;
            justify-content: space-between;
        }

        // Title
        &>div span {
            @extend .category__item-title;
        }

        // Button
        &:not(.main) a {
            padding-right: 61px;
            padding-left: 61px;
            @include fontMt(18, 400, 16, $main);
            @extend %btn;

            &:hover {
                border: none;

                &:after {
                    background: $btn_bg;
                    right: -0.625rem;
                    bottom: -0.625rem;
                }
            }

            &::after {
                background: transparent;
                right: 0;
                bottom: 0;
            }

            .btn__cart {
                position: absolute;
                background-image: url('../images/shopping-cart.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 22px;
                height: 23px;
                bottom: -14px;
                left: 23px;
                z-index: 1;

                transition: 1s all;
            }
        }
    }
}

/**********************
    **********************
       FOOTER
    **********************
**********************/
.footer {
    color: $white;
    border-top: 1px solid #DEDEDE;
    padding-top: 53px;
    padding-bottom: 50px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .socials {
        display: flex;
        gap: 35px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 21px;
            border: 1px solid $main;

            position: relative;

            &::before {
                @include pseudoItem(28, 1, $white);
                bottom: -1px;
                left: 20%;
            }
        }
    }

    &__title {
        @extend %line_right;

        &::after {
            width: 4.1875rem;
            right: -6rem;
        }
    }

    &__subtitle {
        @include fontGp(20, 400, 32.78, $text);
        letter-spacing: 0.0375rem;
        max-width: 277px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        &-cover {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 22px;

            p {
                padding-bottom: 15px;
            }
        }
    }


    &__nav-cover {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h4 {
            letter-spacing: 0.0375rem;
        }

        &>ul {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &>div {
                display: flex;
                justify-content: space-between;
                gap: 20px;

                a {
                    @include fontMt(18, 400, 16, $secondary_text);
                }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-around;
        padding-top: 27px;
        border-top: 1px solid #DEDEDE;

        a {
            @include fontMt(16, 400, 16, $secondary_text);
        }
    }
}

/**********************
    **********************
       MEDIA QUERIES
    **********************
**********************/

@media (max-width: 1604px) {
    html {
        font-size: $global_font_size - 1 + px;
    }
}

@media (max-width: 1527px) {
    html {
        font-size: $global_font_size - 2 + px;
    }
}

@media (max-width: 1480px) {
    html {
        font-size: $global_font_size - 3 + px;
    }
}