<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">

            <div class="footer__inner">
                <!-- Footer inner cover starts -->
                <div class="footer__inner-cover">
                    <h2 class="footer__title">
                        MURAN
                    </h2>
                    <span class="footer__subtitle">
                        Официальный
                        представитель в Украине
                    </span>
                    <div class="socials">
                        <a href="#">
                            <img src="../images/instagram.svg" alt="instagram">
                        </a>
                        <a href="#">
                            <img src="../images/twitter.svg" alt="twitter">
                        </a>
                        <a href="#">
                            <img src="../images/facebook.svg" alt="facebook ">
                        </a>
                    </div>
                </div>
                <!-- Footer inner cover ends -->

                <!-- Footer nav list starts -->
                <div class="footer__nav-cover">

                    <ul>
                        <h4>
                            Навигация по сайту
                        </h4>
                        <div>
                            <li>
                                <a href="#">
                                    Продукция
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Контакы
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Доставка
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Корзина
                                </a>
                            </li>
                        </div>
                    </ul>

                    <ul>
                        <h4>
                            Наши контакты
                        </h4>
                        <div>
                            <li>
                                <a href="#">
                                    T: 098 738 12 93
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    T: 098 738 12 93
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Украина, г. Харьков, пл. Конституции, 31
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
                <!-- Footer nav list ends -->
            </div>

            <div class="footer__bottom">
                <a href="#">
                    Политика конфиденциональности
                </a>
                <a href="#">
                    Договор оферты
                </a>
                <a href="#">
                    Разработка сайта
                </a>
            </div>
        </div>
    </div>
</footer>

<script src="js/main.min.js"></script>
<script src="js/script.js"></script>
</body>

</html>